@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Circular Std';
  src: url('/CircularStd-Book.otf') format('otf'),
       url('/CircularStd-Medium.otf') format('otf');
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Circular Std', sans-serif;
  text-rendering: optimizeLegibility !important;
  font-size: 10px;
  -webkit-font-smoothing: antialiased !important;
}

body {
  padding-top: constant(safe-area-inset-top) !important; /* iOS 11.0 */
  padding-top: env(safe-area-inset-top) !important; /* iOS 11.2 */
}
